<div class="container">
    <div class="row">
        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{aluno?.nome}}</h5>             
              <p class="card-text">Código: {{aluno?.codigo}} </p>
              <ul class="list-group list-group-flush">
                <p>Cursos</p>
                <li class="list-group-item">An item</li>
                <li class="list-group-item">A second item</li>
                <li class="list-group-item">A third item</li>
              </ul>
            </div>
            <button >
                Adicionar novo curso
            </button>
          </div>
    </div>
    <form [formGroup]="form" (submit)="addCurso()" >
        
        <div class="select_curso" >
            <select  
            class="form-select" formControlName="curso">
            <option disabled="disabled">Selecione o professor</option>    
            <option *ngFor="let item of cursos$ | async" 
            [value]="item.id">{{item?.descricao}}</option>
            
        </select>
    </div>
    <button >
        Save
    </button>
</form>
</div>


